{% extends 'core/base.html' %}
 {% load staticfiles%}
{% block content %}
<section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="blog_details">
                        <h2>Second divided from form fish beast made every of seas
                        all gathered us saying he our</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <div class="feature-img">
                        <img class="img-fluid" src="{% static 'destinos/img/blog/main-blog/m-blog-1.jpg'%}" alt="">
                    </div>
                        <p class="excert">
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower

                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually 
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
                            </div>
                        </div>


                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower

                        </p>
                        <p>
                            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually 
                        </p>
                    </div>
                </div>
<div class="section-top-border">
            <div class="row">
               <div class="col-lg-4 col-sm-6 mt-sm-30 typo-sec">
                    <h3 class="mb-20 title_color">Incluye</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Fta Keys</li>
                            <li>For Women Only Your Computer Usage</li>
                              <li>Dealing With Technical Support 10 Useful Tips</li>
                            <li>Make Myspace Your Best Designed Space</li>
                            <li>Cleaning And Organizing Your Computer</li>
                        </ul>
                    </div>
                </div>
               <div class="col-lg-4 col-sm-6 mt-sm-30 typo-sec">
                    <h3 class="mb-20 title_color">No Incluye</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Fta Keys</li>
                            <li>For Women Only Your Computer Usage</li>
                              <li>Dealing With Technical Support 10 Useful Tips</li>
                            <li>Make Myspace Your Best Designed Space</li>
                            <li>Cleaning And Organizing Your Computer</li>
                        </ul>
                    </div>
                </div>
                 <div class="col-lg-4 col-sm-6 mt-sm-30 typo-sec">
                    <h3 class="mb-20 title_color">Lugares</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Fta Keys</li>
                            <li>For Women Only Your Computer Usage</li>
                              <li>Dealing With Technical Support 10 Useful Tips</li>
                            <li>Make Myspace Your Best Designed Space</li>
                            <li>Cleaning And Organizing Your Computer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                             <div class="comment-form">
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm">Solicitar Presupuesto</button>
                        </div>
                    </form>
                    </div>

                </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                     <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Get2knowCuba</h4>

                        <form action="#">
                            <div class="form-group">
                            <div class="media post_item">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Duracion</h3>
                                </a>
                                <p>8 Dias
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h4>Desde</h4>
                                </a>
                                <p>400 € <br>
                                por persona
                            </div>
                        </div>
                        <div class="media post_item">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h4>Servicios Incluidos</h4>
                                </a>
                                <p>Guía<br>Chófer<br>Traslado al aeropuerto </p>
                            </div>
                        </div>
                            </div>
                           <button type="submit" class="button button-contactForm">Solicitar Presupuesto</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area end =================-->

<!-- ================ Instargram Area Starts ================= -->  
{% endblock %}