{% extends 'core/base.html' %}
 {% load staticfiles%}
{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'core/images/matanzas.jpg'%}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-yatch"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Activities</h3>
                <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-around"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Travel Arrangements</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-compass"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Private Guide</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-map-of-roads"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Location Manager</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
   	
    <section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url({% static 'core/images/about.jpg'%});"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4">More About Our Team</h2>
		            <p>We are passionate ! about working with visitors to cuba,we enjoy to make your trip special,our main goal is to give an extra effort to make your stay memorable.


Our specialty is trips to havana,bay of pigs,nicho waterfalls,trinidad de cuba and much more like costumised round trips all over the country.Nonetheless we have the best partners around the whole country that share our principles of quality service and friendliness,We see and treat our customer as a dear friend that comes to visit us and therefore we look for the best service possible to get them feel like home.</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Amazing Deals</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Sold Tours</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="2500">0</strong>
		                <span>New Tours</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-5 bg-light mb-4">
		              <div class="text">
		                <strong class="number" data-number="40">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 order-md-last d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url({% static 'core/images/about-1.jpg'%});"></div>
    			</div>
    			<div class="col-md-12 pr-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4">Our team</h2>
		            <p> * We are a group of friends featuring the interplay of Cuban culture and its nature.
* We have over 8 years of experience as tourist guides in Cuba.

* Our destination is the midwest of the country and much more, where we visit more than 4 different Cuban provinces. * We work together with a group of tour guides/professional drivers specialized in nature tourism, speaking at least two languages and being graduated with a university degree and training according to the training system of the Cuban Ministry of Foreign Trade and Tourism (FORMATUR) * Our team consists in a group of enthusiastic and flexible tour guides ready to give their best to bring our beautiful cities and dream-like scenery closer to you. *Our main purpose is to show you Cuba inside out, and take you, at your own pace, in an adventure through our country, where you will have the oportunity to share experiences with the local people and learn about our culture, nature and way of living, away from the big touristic companies and poles * We are available all year long. </p>
		          </div>
		        </div>
		        <div class="row">
		        	<div class="col-md-12">
		        		<p class="ftco-animate tips"><span>1.</span> Leysester Ortega Cruz
Managing Director of the Travel Agency

Graduated according to the training system of the Cuban Ministry of Foreign Trade and Tourism (FORMATUR)

- Studies of English language - Tour guide, languages: Spanish-English - Professional driver - 8 years of experience as a tour guide in Varadero and throughout Cuba
ley@get2knowcuba.com</p>
		        		<p class="ftco-animate tips"><span>2.</span> A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
		        		<p class="ftco-animate tips"><span>3.</span> It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

		        	</div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
	
{% endblock %}